.log-sign{
    background: #2196f3;
}

.log-sign-li{
    padding-top: 0;
    padding-bottom: 0;
    border:none;
    background: transparent;

}

.log-sign-ul{
    background:transparent;
    margin-top: 100px;
}

button.log-btn{
    border:1px solid #fff !important;
color:#fff !important;
}

.logo{
    text-align: center;
}

.clear-log-btn{
    color:#f1f1f1 !important;
}

.tabs-bg{
    top:43px !important;
    background: #2196f3;
}

.scroll{
    margin-top: 50px!important;
}

.tab-item .icon{
    color:#f1f1f1;
}

.icon-888{
    color:#5a5a5a !important;
}