<!DOCTYPE html>
<html ng-app="ionicApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Ionic Template</title>

    <link href="css/ionic.css" rel="stylesheet">
    <link href="css/my-ionic.css" rel="stylesheet">
    <script src="http://code.ionicframework.com/0.9.27/js/ionic.bundle.min.js"></script>
    <script src="js/app.js"></script>

</head>
<body >

<ion-nav-view></ion-nav-view>

<script id="login.html" type="text/ng-template">

    <ion-view title="{{navTitle}}" class="log-sign">
        <ion-content padding="true">

            <ul class="list log-sign-ul">
                <li class="item log-sign-li logo">
                  <img src="http://bluegape.com/wp-content/themes/mosiac/assets/img/logo-white.png" width="170">
                </li>

                <li class="item log-sign-li">
                    <button class="button log-btn button-block button-outline button-positive" ng-click="signIn()" ui-sref="main.tabs">
                        <i class="icon ion-social-facebook-outline" style="float: left;margin-left: 8px;" ></i> <span>Login with Facebook</span>
                    </button>
                </li>

                <li class="item log-sign-li">
                    <button class="button log-btn button-block button-outline button-positive">
                        <i class="icon ion-social-twitter-outline" style="float: left"></i> <span>Login with Twitter</span>
                    </button>
                </li>

                <li class="item log-sign-li">
                    <button class="button log-btn button-outline button-block button-positive">
                        <i class="icon ion-social-googleplus-outline" style="float: left"></i> <span>Login with Google</span>
                    </button>
                </li>

                <li class="item log-sign-li">
                    <button class="button clear-log-btn button-clear button-positive">
                        Login
                    </button>
                    <button class="button clear-log-btn button-clear button-positive">
                        Register with Email
                    </button>
                </li>
            </ul>

        </ion-content>
    </ion-view>

</script>

<script id="tabs.html" type="text/ng-template">
    <ion-view title=""  left-buttons="leftButtons" right-buttons="rightButtons">

        <ion-tabs tabs-type="tabs-icon-only tabs-bg">
            <ion-tab title="Tab 1" icon-on="icon ion-home" icon-off="icon ion-home">
                <ion-content has-header="true" padding="true">
                    <!---home---->

                    <div class="list card" style="margin-top: 0px;">

                        <div class="item item-avatar">

                            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/10953409_857902044231940_5151520900316517018_n.jpg?oh=22737fd0fb75b056894562f92dc73b16&oe=55921F1E&__gda__=1431861109_1fffa85921f404cafe42c6bf8120f00d">
                            <h2>Ayush Varshney</h2>
                            <p>February 17, 2015 </p>
                        </div>

                        <div class="item item-body">
                            <img class="full-image" src="http://cdn.bluegape.com/wp-content/uploads/2015/03/25115554/3_551254f11fffd.jpeg">
                            <h1 style="font-weight:600;font-size:18px;">Greatest Guitarist Of All Time</h1>
                            <p>
                                This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                                the content is from a card-body consisting of an image and paragraph text. The footer
                                consists of tabs, icons aligned left, within the card-footer.
                            </p>
                            <p>
                                <a href="#" class="subdued">1587 Upvotes</a>
                                <a href="#" class="subdued">95 Comments</a>
                            </p>
                        </div>

                        <div class="item tabs tabs-secondary tabs-icon-left">
                            <a class="tab-item" href="#">
                                <i class="icon ion-arrow-up-a icon-888"></i>
                                Upvote
                            </a>
                            <a class="tab-item" href="#">
                                <i class="icon ion-chatbox icon-888"></i>
                                Comment
                            </a>
                            <a class="tab-item" href="#" ng-click="showActionsheet()">
                                <i class="icon ion-share icon-888"></i>
                                Share
                            </a>
                        </div>

                    </div>


                    <!----home ends--->

                </ion-content>
            </ion-tab>

            <ion-tab title="Tab 2" icon-on="icon ion-person" icon-off="icon ion-person">
                <ion-content has-header="true" padding="0">
                   <!---profile--->

                    <div class="card" style="margin:0px;margin-top: 0px;">
                        <div class="item item-text-wrap" style="text-align: center;background: rgb(242, 252, 255);">
                            <div class="overlay-profile" style="z-index:9;background: rgba(0,0,0,0.4);top:0;left:0;height:100%;width:100%;position: absolute"></div>
                            <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10256103_665731170204709_267872035846398932_n.jpg?oh=10d150f9d17db7693c0bf7396de350db&amp;oe=55B339B6&amp;__gda__=1433484589_a40f140c46178410f2d3f729165064ad" style="width: 100%;height: 100%;position: absolute;top: 0;left:0;">
                            <img style="border-radius: 50%;position: relative;z-index:99;" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/10953409_857902044231940_5151520900316517018_n.jpg?oh=22737fd0fb75b056894562f92dc73b16&oe=55921F1E&__gda__=1431861109_1fffa85921f404cafe42c6bf8120f00d" width="64">
                            <p style="font-size:15px;position: relative;z-index:99;color:#fff;">Ayush Varshney</p>
                        </div>
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" href="#">
                            <i class="icon ion-chatbox icon-888"></i>
                            lists
                        </a>
                        <a class="tab-item" href="#">
                            <i class="icon ion-chatbox-working icon-888"></i>
                            Slides
                        </a>
                        <a class="tab-item" href="#" ng-click="showActionsheet()">
                            <i class="icon ion-person-stalker icon-888"></i>
                            Followers
                        </a>
                    </div>

                    <div class="list card" style="margin-top: 0px;">

                        <div class="item item-avatar">
                            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/10953409_857902044231940_5151520900316517018_n.jpg?oh=22737fd0fb75b056894562f92dc73b16&oe=55921F1E&__gda__=1431861109_1fffa85921f404cafe42c6bf8120f00d">
                            <h2>Ayush Varshney</h2>
                            <p>February 17, 2015 </p>
                        </div>

                        <div class="item item-body">
                            <img class="full-image" src="http://cdn.bluegape.com/wp-content/uploads/2015/03/25115554/3_551254f11fffd.jpeg">
                            <h1 style="font-weight:600;font-size:18px;">Greatest Guitarist Of All Time</h1>
                            <p>
                                This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                                the content is from a card-body consisting of an image and paragraph text. The footer
                                consists of tabs, icons aligned left, within the card-footer.
                            </p>
                            <p>
                                <a href="#" class="subdued">1587 Upvotes</a>
                                <a href="#" class="subdued">95 Comments</a>
                            </p>
                        </div>

                        <div class="item tabs tabs-secondary tabs-icon-left">
                            <a class="tab-item" href="#">
                                <i class="icon ion-arrow-up-a"></i>
                                Upvote
                            </a>
                            <a class="tab-item" href="#">
                                <i class="icon ion-chatbox"></i>
                                Comment
                            </a>
                            <a class="tab-item" href="#" ng-click="showActionsheet()">
                                <i class="icon ion-share"></i>
                                Share
                            </a>
                        </div>

                    </div>


                    <!--profile--->
                </ion-content>
            </ion-tab>

            <ion-tab title="Tab 3" icon-on="icon ion-earth" icon-off="icon ion-earth">
                <ion-content has-header="true" padding="0">
                   <!---notification--->

                    <div class="list" style="margin-top: 0px;margin-bottom: 0px;">
                        <a class="item item-avatar" href="#">
                            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/11070135_10203161974284826_297362477680546084_n.jpg?oh=efd4aa170aead568e7a349fc2793ef26&oe=55AC41B6&__gda__=1437638304_e9fad26ee5e893f5021ef050fcea89db">
                            <p style="margin-top: 8px;display: inline-block;"><small style="color:rgb(128, 175, 194);font-size:14px;">Animesh Joshi</small> started following you</p>
                            <i class="fa fa-plus" style="display: inline-block;margin-top: 12px;color:skyblue;float: right;"></i>
                        </a>
                    </div>
                    <div class="list" style="margin-bottom: 0px;">
                        <a class="item item-avatar" href="#" style="background: #F7FAFF;">
                            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/10428526_819893691416351_8633626668036331264_n.jpg?oh=ea8c8482cf3c8f49b4a6137880c507a8&oe=55B3C109&__gda__=1436654946_478d6331840a3ac389e9672f802a0d75">
                            <p style="margin-top:8px;display: inline-block;"><small style="color:rgb(128, 175, 194);font-size:14px;">Saurabh Joshi</small> upvoted your <small style="color:rgb(128, 175, 194);font-size:14px;">list</small></p>
                            <i class="icon ion-arrow-up-a" style="display: inline-block;margin-top: 12px;color:skyblue;float: right;"></i>
                        </a>
                    </div>
                    <div class="list" style="margin-bottom: 0px;">
                        <a class="item item-avatar" href="#">
                            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/11070135_10203161974284826_297362477680546084_n.jpg?oh=efd4aa170aead568e7a349fc2793ef26&oe=55AC41B6&__gda__=1437638304_e9fad26ee5e893f5021ef050fcea89db">
                            <p style="margin-top: 8px;display: inline-block;"><small style="color:rgb(128, 175, 194);font-size:14px;">Animesh Joshi</small> added a <small style="color:rgb(128, 175, 194);font-size:14px;">Slide</small></p>
                            <img style="width: 48px;float: right;border-radius:2px;" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c7.0.160.160/p160x160/30659_1482423140119_3883046_n.jpg?oh=234ddd036fbaec6ddc5c888fafd9e7f0&oe=55BD44B1&__gda__=1436681244_24fcca0902391a5d728dc9076c07705a">

                        </a>
                    </div>
                    <div class="list" style="margin-bottom: 0px;">
                        <a class="item item-avatar" href="#" style="background:rgb(255, 255, 238)">
                            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/10302019_10203088827604726_8126642433954546178_n.jpg?oh=5430158274040beb8766fe16127f6ab4&oe=55ACA76C&__gda__=1433623035_7ff041f4c24e730c777505fb7cd6496d">
                            <h2></h2>
                            <p style="margin-top: 8px;display: inline-block;"><small style="color:rgb(128, 175, 194);font-size:14px;">Shailendra Singh</small> commented on a <small style="color:rgb(128, 175, 194);font-size:14px;">list</small></p>
                            <blockquote style="border-left:1px solid #d1d1d1;"><p style="margin-top: 8px;">Penelope Cruz is more beautiful than Angelina Jolie</blockquote>
                        </a>
                    </div>

                    <div class="list" style="margin-bottom: 0px;">
                        <div class="item item-divider">
                            <small style="text-transform:uppercase;color: #888;font-size: 12px;">Yesterday</small>
                            <small style="float:right;text-transform:uppercase;color: #888;font-size: 12px;">28 March 2015</small>
                        </div>
                    </div>

                    <div class="list" style="margin-top: 0px;margin-bottom: 0px;">
                        <a class="item item-avatar" href="#">
                            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/11070135_10203161974284826_297362477680546084_n.jpg?oh=efd4aa170aead568e7a349fc2793ef26&oe=55AC41B6&__gda__=1437638304_e9fad26ee5e893f5021ef050fcea89db">
                            <p style="margin-top: 8px;display: inline-block;"><small style="color:rgb(128, 175, 194);font-size:14px;">Animesh Joshi</small> started following you</p>
                            <i class="fa fa-plus" style="display: inline-block;margin-top: 12px;color:skyblue;float: right;"></i>
                        </a>
                    </div>
                    <div class="list" style="margin-bottom: 0px;">
                        <a class="item item-avatar" href="#" style="background:#F7FAFF;">
                            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/10428526_819893691416351_8633626668036331264_n.jpg?oh=ea8c8482cf3c8f49b4a6137880c507a8&oe=55B3C109&__gda__=1436654946_478d6331840a3ac389e9672f802a0d75">
                            <p style="margin-top:8px;display: inline-block;"><small style="color:rgb(128, 175, 194);font-size:14px;">Saurabh Joshi</small> upvoted your <small style="color:rgb(128, 175, 194);font-size:14px;">list</small></p>
                            <i class="icon ion-arrow-up-a" style="display: inline-block;margin-top: 12px;color:skyblue;float: right;"></i>
                        </a>
                    </div>
                    <div class="list" style="margin-bottom: 0px;">
                        <a class="item item-avatar" href="#">
                            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/11070135_10203161974284826_297362477680546084_n.jpg?oh=efd4aa170aead568e7a349fc2793ef26&oe=55AC41B6&__gda__=1437638304_e9fad26ee5e893f5021ef050fcea89db">
                            <p style="margin-top: 8px;display: inline-block;"><small style="color:rgb(128, 175, 194);font-size:14px;">Animesh Joshi</small> added a <small style="color:rgb(128, 175, 194);font-size:14px;">Slide</small></p>
                            <img style="width: 48px;float: right;border-radius:2px;" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c7.0.160.160/p160x160/30659_1482423140119_3883046_n.jpg?oh=234ddd036fbaec6ddc5c888fafd9e7f0&oe=55BD44B1&__gda__=1436681244_24fcca0902391a5d728dc9076c07705a">

                        </a>
                    </div>
                    <div class="list" style="margin-bottom: 0px;">
                        <a class="item item-avatar" href="#" style="background:rgb(255, 255, 238);">
                            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/10302019_10203088827604726_8126642433954546178_n.jpg?oh=5430158274040beb8766fe16127f6ab4&oe=55ACA76C&__gda__=1433623035_7ff041f4c24e730c777505fb7cd6496d">
                            <h2></h2>
                            <p style="margin-top: 8px;display: inline-block;"><small style="color:rgb(128, 175, 194);font-size:14px;">Shailendra Singh</small> commented on a <small style="color:rgb(128, 175, 194);font-size:14px;">list</small></p>
                            <blockquote style="border-left:1px solid #d1d1d1;"><p style="margin-top: 8px;">Penelope Cruz is more beautiful than Angelina Jolie</blockquote>
                        </a>
                    </div>




                    <!---notification--->

                </ion-content>
            </ion-tab>

            <ion-tab title="Tab 4" icon-on="icon ion-help-circled" icon-off="icon ion-help-circled">
                <ion-content has-header="true" padding="0">
                    <!---question--->
                    <div class="list" style="margin-top:0px;">

                        <a class="item item-thumbnail-left" href="#">
                            <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/37736_425391822611_6951179_n.jpg?oh=784780c458b40a29e96b76f7ed8b0c05&oe=55742B06&__gda__=1433423671_58c1a4ae39831c4223270ca337e11b3c">
                            <h2>Greatest Guitarist of all time</h2>
                            <p>Nine Inch Nails</p>

                        </a>
                        <a class="item item-thumbnail-left" href="#">
                            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/c32.32.399.399/s160x160/46834_414668781954664_5980570_n.jpg?oh=1874808b76a0fd8a8abdd8799f9eae1e&oe=55BCBEA3&__gda__=1436859678_cd7911ad069c770d67ae62cc9f961cf0">
                            <h2>Is Salman Khan virgin</h2>
                            <p>Nine Inch Nails</p>
                        </a>
                        <a class="item item-thumbnail-left" href="#">
                            <img src="https://fbexternal-a.akamaihd.net/safe_image.php?d=AQCL_z8QefkqoUZR&w=264&h=400&url=https%3A%2F%2Ffbcdn-profile-a.akamaihd.net%2Fhprofile-ak-xfp1%2Fv%2Ft1.0-1%2F10981659_384893785045694_4980069467185065126_n.jpg%3Foh%3D3c1ddd0ad13f15352fa889a40535afdb%26oe%3D55BE444C%26__gda__%3D1438360633_507cfdbd3fb3139bb7cd8640131d84a1&colorbox&f">
                            <h2>Best novels of 2014</h2>
                            <p>Nine Inch Nails</p>
                        </a>
                        <a class="item item-thumbnail-left" href="#">
                            <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xpa1/t31.0-8/q84/s960x960/10539257_1095102713848681_4005088543685595925_o.jpg">
                            <h2>Ten thing you want to buy, but can't afford</h2>
                            <p>Nine Inch Nails</p>
                        </a>
                        <a class="item item-thumbnail-left" href="#">
                            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xaf1/v/t1.0-1/p160x160/10409177_1010841668930416_8126104698752130651_n.jpg?oh=a1fd6ca38141247943e445fe236888ac&oe=55784F04&__gda__=1433493199_fb4ae6410a5d89c4b6685b6e57fa9451">
                            <h2>Why Premchand Panigrahi is so handsome</h2>
                            <p>Nine Inch Nails</p>
                        </a>
                        <a class="item item-thumbnail-left" href="#">
                            <img src="https://fbexternal-a.akamaihd.net/safe_image.php?d=AQAeEGA6obQ0OjeS&w=264&h=264&url=http%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Ff%2Ff6%2FGSXR1000K5.jpg%2F720px-GSXR1000K5.jpg&colorbox&f">
                            <h2>Top bikes in indian market</h2>
                            <p>Nine Inch Nails</p>
                        </a>
                        <a class="item item-thumbnail-left" href="#">
                            <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-frc3/v/t1.0-9/s480x480/576660_324519134281911_1379605566_n.jpg?oh=840859fb329b08baca91e8e1b5b91fa7&oe=5576C051&__gda__=1438097210_9889408d4f490a49021036de722329ca">
                            <h2>Difference between RBC and WBC</h2>
                            <p>Nine Inch Nails</p>
                        </a>


                    </div>

                    <!---question end---->
                </ion-content>
            </ion-tab>
        </ion-tabs>


    </ion-view>
</script>

<!-----main view------>

<script id="mainContainer.html" type="text/ng-template">

    <ion-side-menus>

        <ion-pane ion-side-menu-content>

            <ion-nav-bar  type="bar-positive item-input-inset" back-button-type="button-icon" back-button-icon="ion-ios7-arrow-back" style="background: #2196f3 !important;" animation="nav-title-slide-ios7">
            </ion-nav-bar>


            <!---nav tab--->
            <div class="buttons">
                <button class="button">Right Button</button>
            </div>
            <!---nav tab here end-->
            <ion-nav-view name="main" >

            </ion-nav-view>
        </ion-pane>

        <ion-side-menu side="left">
            <header class="bar bar-header bar-assertive">
                <div class="title">Side Menu</div>
            </header>

            <ion-content has-header="true">
                <ul class="list">
                    <a ui-sref="entry" class="item">Back To Entry Page</a>
                    <a ui-sref="main.home" class="item" ng-click="toggleMenu()">Create A List</a>
                    <a ui-sref="main.tabs" class="item" ng-click="toggleMenu()">Home</a>
                </ul>
            </ion-content>
        </ion-side-menu>

    </ion-side-menus>


</script>

<!----main view ends---->

<script id="home.html" type="text/ng-template">

    <ion-view title="{{navTitle}}" left-buttons="leftButtons">

        <ion-content has-tabs="true" has-header="true" padding="true">
            <!-------->

            <!---stempede------->



            <a ui-sref="main.info" class="button button-positive">Info</a>

        </ion-content>

    </ion-view>

</script>

<script id="info.html" type="text/ng-template">
    <ion-view title="{{navTitle}}" left-buttons="leftButtons">

        <ion-content has-header="true" padding="true">

            <h1>Info Page!</h1>

        </ion-content>

    </ion-view>

</script>

</body>
</html>

</body></html>